<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'library_managment:all_books' %}">
            <img src="{% static 'img/logo.png' %}" alt="" width="50" height="33" class="d-inline-block align-text-top">
            Библиотека
        </a>
    </div>
</nav>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Вход</button>
</form>
</body>
</html>