<div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'library_managment:add_book' %}">Регистрацияя новой книги</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'library_managment:add_client' %}">Регистрация нового читателя</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'library_managment:clients' %}">Список читателей</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'library_managment:order' %}">Выдача книг</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Выданные книги и возврат</a>
            </li>

        </ul>
    </div>
    <div>